body {
  height: 100%;
  padding: 20px 50px;
  font-size: 16px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

#holygrail-container {
  display: grid;
  grid:
  'header header header' 25%
  'nav main aside' 1fr
  'footer footer footer' 25%
  /25% 1fr 25%;
  background: #fff;
  height: 100%;
}

header, 
footer,
nav,
aside,
section {
  padding: 20px;
  border: 1px solid #000;
  text-align: center;

}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
 