@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Sacramento&display=swap');



* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px 50px;
  font-size: 16px;
}

h1 {
  font-size: 16px;
  font-weight: normal;
}

#holygrail-container {
  display: grid;
  /* height: auto;
  width: auto; */
  grid-template-areas:
    'header header header'
    'main main main'
    '... about ...'
    'footer footer footer';
  background: #fff;
  justify-content: center;
  overflow: visible;

}

header,
section,
article,
footer {
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10px;
}

header {
  grid-area: header;
  justify-content: center;


}

nav {
  grid-area: nav;
  height: 50px;
  justify-content: center;

}

section {
  grid-area: main;
}

article {
  grid-area: about;
}



footer {
  grid-area: footer;
  
}

/* Ovan är Holygrail template */

/* Nedan är navigationen */

input,
.hamburger {
  display: none;
}

ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px;
  width: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  color: white;
  transition: all ease-in-out .5s;
  outline: none;
  background: rgba(250, 207, 214);
  font-family: 'Montserrat', sans-serif;
}

li {
  transition: transform .2s;
}

li:hover {
  transform: scale(1.5);
  transform: scale(1.1) translateY(-8%);
  box-shadow: 2px 7px 3px 0px rgba(172, 172, 172, 0.1);
}

a {
  text-decoration: none;
}

/* Slut på nav */


/* början på main */

.main {
  background: url(back.jpg) no-repeat center center/cover;
  height: 70vh;
  width: fit-content;
  text-align: center;
  padding: 15px;
}

.main > h2 {
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  padding-top: 10%;
}

.container {
  padding: 5px;
}

.main > .main-inner > h3 {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

p {
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* button */
.btn {
  text-transform: uppercase;
  margin-right: 1rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  color: white;
  transition: all ease-in-out .5s;
  outline: none;
  background: rgba(250, 207, 214);
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  transform: scale(1.1) translateY(-8%);
  box-shadow: 2px 7px 3px 0px rgba(172, 172, 172, 0.1);
  background: rgba(255, 178, 203)
}

/* about */
.about {
  width: fit-content;
  padding: 50px;
}

.about > h4 {
   font-family: 'Montserrat', sans-serif;
   font-weight:bolder;
   font-size:20px;
   padding: 1px;
}

.about > .quote {
    font-family: 'Montserrat', sans-serif;
    font-weight: cursive;
    font-size:15px;
    padding: 1px;
    word-break: break-all;
}



@media only screen and (max-width: 800px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
 

  .container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
    align-items: center;
  }

  h1 {
    display: none;
  }

  .main {
    background: url(back.jpg) no-repeat center center/cover;
    color: #000;
    height: 80vh;
    position: relative;
  }

  .main:before {
    content: '';
    background: url('https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .main .main-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  .main h2 {
    font-size: 3rem;
    padding-top: 10%;
  }

  .main p {
    font-size: 1.3rem;
  }

  .btn {
    border: none;
    color: #fff;
    padding: 0.75rem 1.5rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    bottom: 5%;
    left: 37%;

  }

  .btn:hover {
    opacity: 0.7;
  }

  /* MENU STYLES */
  input,
  .hamburger {
    display: initial;
  }

  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Hamburger Line */
  .menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger>div::before,
  .menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Moves Line Down */
  .menu-wrap .hamburger>div::after {
    top: 10px;
  }

  /* Toggler Animation */
  .menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
  }

  /* Turns Lines Into X */
  .menu-wrap .toggler:checked+.hamburger>div:before,
  .menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
  }

  /* Show Menu */
  .menu-wrap .toggler:checked~.menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.5s;
  }

  .menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu>div {
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu>div>div>ul {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 30vh;

  }

  .menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;

  }

  .menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  /* slut på hamburgarmeny */

  .main > h2 {
    
  }
}